<mat-toolbar color="primary">
  <img src="assets/harold.png" class="logo">
  <span>My Address Book</span>
</mat-toolbar>

<app-address-entry (newAddress)="processAddress($event)"></app-address-entry>

<mat-tab-group (selectedTabChange)="loadAddress($event)">
    <mat-tab *ngFor="let t of tabs" [label]="t.label">
        <mat-list>
            <mat-list-item *ngFor="let a of adds"> 
                {{ a.name }} <br>
                Phone :  {{ a.phone }} 
                Email :  {{ a.email }}
            </mat-list-item>
        </mat-list>
    </mat-tab>

</mat-tab-group>