<form #form="ngForm" (ngSubmit)="processForm(form)" fxLayout="column row" fxLayoutGap="10px">
  <mat-form-field>
      <input type="text" name="name" placeholder="name" required #name ngModel matInput>
  </mat-form-field>

  <mat-form-field>
      <input type="text" name="address" placeholder="Address" required #address ngModel matInput>
  </mat-form-field>

  <mat-form-field>
      <input type="text" name="phone" placeholder="Phone No." required #phone ngModel matInput>
  </mat-form-field>

  <mat-form-field>
      <input type="text" name="email" placeholder="Email Address" required #email ngModel email matInput>
  </mat-form-field>

<div fxLayout="row column" fxLayoutAlign="space-between">
    <button type="reset" mat-raised-button color="accent">
        <mat-icon>clear</mat-icon>Clear
    </button>

    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>Add
    </button>
</div>
</form>